.speech-bubble {
    display: flex;
    position: relative;
    background-image: linear-gradient(#e8e8e8, #ffffff);
    border-radius: 15px;
    padding: 30px 40px 30px 40px;
    box-shadow: 15px 20px 25px;
    }